@import 'scss/variable.scss';
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem 3.75rem;
    .title {
        padding-top: 38%;
        color: $primary-color;
        font-size: 2.25rem;
    }
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-item {
            padding: 1rem 0;
            width: 100%;
            .form-control {
                width: 100%;
            }
        }
        .btn {
            width: 100%;
        }
        .register{
            padding: 0;
            position: relative;
            &-btn{
                position: absolute;
                right: 0;
            }
        }
    }
}